<div class="row">
    <div class="wrapper">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumb">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="offset-65 md-offset-30"></div>
                    <a href="#" class="icon-wrapper circle-decoration activated" id="circle-id0">
                        <span class="center"></span>
                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#ffdf01" stroke-width="1" fill="#fff" style="stroke-dasharray: 311.063232421875px, 311.063232421875px; stroke-dashoffset: 0px;"></path></svg></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <article class="normal line-animation grei-919191">
                        <div class="offset-100 md-offset-30 xs-offset-15"></div>
                        <h5 class="h5 normal"><a href="#" class="hover-effect-bold uppercased">company branding</a></h5>
                        <div class="offset-15 md-offset-5"></div>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae unc at purus congue auctor augue</p>
                        <div class="line-decoration active-element activated"></div>
                    </article>
                    <div class="offset-85 md-offset-45"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumb">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="offset-65 md-offset-30"></div>
                    <a href="#" class="icon-wrapper circle-decoration activated" id="circle-id11">
                        <span class="center"></span>
                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#ffdf01" stroke-width="1" fill="#fff" style="stroke-dasharray: 311.063232421875px, 311.063232421875px; stroke-dashoffset: 0px;"></path></svg></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <article class="normal  line-animation grei-919191">
                        <div class="offset-100 md-offset-30 xs-offset-15"></div>
                        <h5 class="h5 normal"><a href="#" class="hover-effect-bold uppercased">photography</a></h5>
                        <div class="offset-15 md-offset-5"></div>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae unc at purus congue auctor augue</p>
                        <div class="line-decoration active-element activated"></div>
                    </article>
                    <div class="offset-85 md-offset-45"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumb">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="offset-65 md-offset-30"></div>
                    <a href="#" class="icon-wrapper circle-decoration activated" id="circle-id22">
                        <span class="center"></span>
                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#ffdf01" stroke-width="1" fill="#fff" style="stroke-dasharray: 311.063232421875px, 311.063232421875px; stroke-dashoffset: 0px;"></path></svg></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <article class="normal line-animation grei-919191">
                        <div class="offset-100 md-offset-30 xs-offset-15"></div>
                        <h5 class="h5 normal"><a href="#" class="hover-effect-bold uppercased">app development</a></h5>
                        <div class="offset-15 md-offset-5"></div>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae unc at purus congue auctor augue</p>
                        <div class="line-decoration active-element activated"></div>
                    </article>
                    <div class="offset-85 md-offset-45"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumb">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="offset-65 md-offset-30"></div>
                    <a href="#" class="icon-wrapper circle-decoration activated" id="circle-id33">
                        <span class="center"></span>
                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#ffdf01" stroke-width="1" fill="#fff" style="stroke-dasharray: 311.063232421875px, 311.063232421875px; stroke-dashoffset: 0px;"></path></svg></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <article class="normal line-animation grei-919191">
                        <div class="offset-100 md-offset-30 xs-offset-15"></div>
                        <h5 class="h5 normal"><a href="#" class="hover-effect-bold uppercased">web design</a></h5>
                        <div class="offset-15 md-offset-5"></div>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae unc at purus congue auctor augue</p>
                        <div class="line-decoration active-element activated"></div>
                    </article>
                    <div class="offset-85 md-offset-45"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumb">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="offset-65 md-offset-30"></div>
                    <a href="#" class="icon-wrapper circle-decoration activated" id="circle-id44">
                        <span class="center"></span>
                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#ffdf01" stroke-width="1" fill="#fff" style="stroke-dasharray: 311.063232421875px, 311.063232421875px; stroke-dashoffset: 0px;"></path></svg></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <article class="normal line-animation grei-919191">
                        <div class="offset-100 md-offset-30 xs-offset-15"></div>
                        <h5 class="h5 normal"><a href="#" class="hover-effect-bold uppercased">e-commerce</a></h5>
                        <div class="offset-15 md-offset-5"></div>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae unc at purus congue auctor augue</p>
                        <div class="line-decoration active-element activated"></div>
                    </article>
                    <div class="offset-85 md-offset-45"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumb">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="offset-65 md-offset-30"></div>
                    <a href="#" class="icon-wrapper circle-decoration activated" id="circle-id55">
                        <span class="center"></span>
                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#ffdf01" stroke-width="1" fill="#fff" style="stroke-dasharray: 311.063232421875px, 311.063232421875px; stroke-dashoffset: 0px;"></path></svg></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <article class="normal line-animation grei-919191">
                        <div class="offset-100 md-offset-30 xs-offset-15"></div>
                        <h5 class="h5 normal"><a href="#" class="hover-effect-bold uppercased">video production</a></h5>
                        <div class="offset-15 md-offset-5"></div>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae unc at purus congue auctor augue</p>
                        <div class="line-decoration active-element activated"></div>
                    </article>
                    <div class="offset-85 md-offset-45"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<ok-table></ok-table>